@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Knockout';
    src: url("/src/app//fonts//Liteweight.otf") format("opentype");
    src: url("/src/app//fonts//Liteweight.ttf") format("truetype");
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #F3E7E1;
    color: #18182A;
}

.liteweight {
    font-family: 'Knockout', sans-serif;
}