@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #F3E7E1;
    color: #18182A;
}

.chunderline {
    text-decoration: none;
    position: relative;
    display: inline-block;
}

.chunderline::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    height: 2px;
    width: 0;
    background-color: #88B9EF; 
    transition: width 0.5s ease; 
}
  
.chunderline:hover::before {
    width: 100%;
}